# Exclude folders part of virtual environment
include/
Lib/
Scripts/
share/

# Exclude specific files
pyvenv.cfg
.hintrc

# Exclude Python bytecode cache folders
__pycache__/

# Include javascripts folder
!static/javascripts/
