{% extends "dashboard.html" %}

{% block content %}
<h2>Transfer</h2>
<form action="/transfer" method="post">
    <label for="amount">Amount:</label>
    <input type="text" id="amount" name="amount" required><br><br>

    <label for="currency_code">Currency:</label>
    <select name="currency_code">
    <!-- Load currencies from JSON -->
    {% for country in countries %}
        <option value="{{ country.currency.code }}">{{ country.name }} ({{ country.currency.code }})</option>
    {% endfor %}
    </select><br><br>

    <label for="recipient_id">Recipient ID:</label>
    <input type="text" id="recipient_id" name="recipient_id" required><br><br>

    <input type="submit" value="Transfer">
</form>
{% endblock %}
